NEXT_PUBLIC_UNSPLASH_ACCESS_KEY=
NEXT_PUBLIC_UNSPLASH_REDIRECT_URI=http://localhost:3000/api/unsplash/callback
UNSPLASH_SECRET_KEY=
INFURA_RINKEBY_PROJECT_ID=
INFURA_API_KEY=
INFURA_IPFS_PROJECT_ID=
INFURA_IPFS_PROJECT_SECRET=
ETHERSCAN_API_KEY=
PRIVATE_KEY=0xdf57089febbacf7ba0bc227dafbffa9fc08a93fdc68e1e42411a14efcf23656e